.nav {
  background-color: #25C692;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: fixed;
  text-decoration: none;
  width: 230px;
}

.navlink {
  font-size: 24px;
  font-weight: 600;
  margin-left: 15px;
  padding: 10px;
  text-align: left;
}

.navlink:hover {
  color: red;
}

.active {
  color: white;
}
